version: '3.8'

services:
  nginx:
    image: nginx:latest
    container_name: search_load_balancer
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    restart: unless-stopped
    # network_mode: host  # odkomentuj jesli masz problemy z polaczeniem do nodow
